<template>
    <div class="container houses">
        <div class="row justify-content-center">
            <div class="col">
                <div class="card">
                    <div class="card-header">Houses table</div>

                    <div class="card-body">
                        <div class="filters">
                            <p>Filter by:</p>
                            <el-form :inline="true" size="small" class="demo-form-inline">
                                <el-form-item>
                                    <el-input v-model="filters.name" placeholder="Name"></el-input>
                                </el-form-item>
                                <el-form-item label="$:">
                                    <el-slider
                                        v-model="filters.price"
                                        range
                                        :min="rangeMin"
                                        :max="rangeMax">
                                    </el-slider>
                                </el-form-item>
                                <el-form-item>
                                    <el-input-number v-model="filters.bedrooms" :min="0" placeholder="Bedrooms" controls-position="right"></el-input-number>
                                </el-form-item>
                                <el-form-item>
                                    <el-input-number v-model="filters.bathrooms" :min="0" placeholder="Bathrooms" controls-position="right"></el-input-number>
                                </el-form-item>
                                <el-form-item>
                                    <el-input-number v-model="filters.storeys" :min="0" placeholder="Storeys" controls-position="right"></el-input-number>
                                </el-form-item>
                                <el-form-item>
                                    <el-input-number v-model="filters.garages" :min="0" placeholder="Garages" controls-position="right"></el-input-number>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" @click="filter">Apply</el-button>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="default" @click="clear">Clear</el-button>
                                </el-form-item>
                            </el-form>
                        </div>

                        <data-tables-server
                            :data="response.data"
                            :total="response.total"
                            @query-change="loadData"
                            :page-size="response.per_page"
                            :pagination-props="{ pageSizes: [5, 10, 15] }"
                            :loading="loading"
                            :action-col="actionCol"
                        >
                            <el-table-column v-for="title in titles" :prop="title.prop" :label="title.label"
                                             :key="title.label" sortable="custom">
                            </el-table-column>
                        </data-tables-server>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                apiUrl: '/api/houses',
                response: [],
                lastQueryInfo: null,
                titles: [
                    {
                        prop: 'id',
                        label: 'ID'
                    },
                    {
                        prop: 'name',
                        label: 'Name'
                    },
                    {
                        prop: 'price',
                        label: 'Price'
                    },
                    {
                        prop: 'bedrooms',
                        label: 'Bedrooms'
                    },
                    {
                        prop: 'bathrooms',
                        label: 'Bathrooms'
                    },
                    {
                        prop: 'storeys',
                        label: 'Storeys'
                    },
                    {
                        prop: 'garages',
                        label: 'Garages'
                    },
                ],
                loading: false,
                filters: {},
                rangeMin: 100000,
                rangeMax: 1000000,
            }
        },
        methods: {
            mounted() {
                console.log('Example Component mounted')
            },
            async loadData(queryInfo) {

                this.loading = true;

                console.log(queryInfo);

                this.lastQueryInfo = queryInfo;

                let parameters = {};

                if (queryInfo !== null) {
                    parameters = {
                        per_page: queryInfo.pageSize,
                        page: queryInfo.page,
                        sort: queryInfo.sort.prop,
                        sort_type: queryInfo.sort.order,
                        name: queryInfo.filters.name,
                        price: queryInfo.filters.price,
                        bedrooms: queryInfo.filters.bedrooms,
                        bathrooms: queryInfo.filters.bathrooms,
                        storeys: queryInfo.filters.storeys,
                        garages: queryInfo.filters.garages
                    }
                }

                axios.get(this.apiUrl, {
                    params: parameters
                })
                    .then(response => {
                        this.response = response.data;
                        this.loading = false;
                    });

            },
            filter(){
                this.lastQueryInfo.filters = this.filters;
                this.loadData(this.lastQueryInfo);
            },
            clear(){
                this.filters = {
                    price: [this.rangeMin, this.rangeMax]
                };
                this.filter();
            }
        }
    }
</script>

<style>
    .pagination-bar {
        margin-top: 15px;
    }

    .houses {
        margin-top: 100px;
    }

    .houses div[role="slider"]{
        width:107px !important;
    }

    @media (max-width: 991px) {
        .houses {
            margin-top: 30px;
        }
    }
</style>
