<template>
    <div class="container houses">
        <div class="row justify-content-center">
            <div class="col">
                <div class="card">
                    <div class="card-header">Houses table</div>

                    <div class="card-body">
                        <div class="filters">
                            <p>Filter by:</p>
                            <el-form :inline="true" size="small" class="demo-form-inline">
                                <el-form-item>
                                    <el-input v-model="filters.name" placeholder="Name"></el-input>
                                </el-form-item>
                                <el-form-item label="$:">
                                    <el-slider
                                        v-model="filters.price"
                                        range
                                        :min="100000"
                                        :max="1000000">
                                    </el-slider>
                                </el-form-item>
                                <el-form-item>
                                    <el-input-number v-model="filters.bedrooms" :min="0" placeholder="Bedrooms" controls-position="right"></el-input-number>
                                </el-form-item>
                                <el-form-item>
                                    <el-input-number v-model="filters.bathrooms" :min="0" placeholder="Bathrooms" controls-position="right"></el-input-number>
                                </el-form-item>
                                <el-form-item>
                                    <el-input-number v-model="filters.storeys" :min="0" placeholder="Storeys" controls-position="right"></el-input-number>
                                </el-form-item>
                                <el-form-item>
                                    <el-input-number v-model="filters.garages" :min="0" placeholder="Garages" controls-position="right"></el-input-number>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" @click="filter">Apply</el-button>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="default" @click="clear">Clear</el-button>
                                </el-form-item>
                            </el-form>
                        </div>

                        <data-tables-server
                            :data="response.data"
                            :total="response.total"
                            @query-change="loadData"
                            :page-size="response.per_page"
                            :pagination-props="{ pageSizes: [5, 10, 15] }"
                            :loading="loading"
                            :action-col="actionCol"
                        >
                            <el-table-column v-for="title in titles" :prop="title.prop" :label="title.label"
                                             :key="title.label" sortable="custom">
                            </el-table-column>
                        </data-tables-server>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                apiUrl: '/api/houses',
                response: [],
                lastQueryInfo: null,
                titles: [
                    {
                        prop: 'id',
                        label: 'ID'
                    },
                    {
                        prop: 'name',
                        label: 'Name'
                    },
                    {
                        prop: 'price',
                        label: 'Price'
                    },
                    {
                        prop: 'bedrooms',
                        label: 'Bedrooms'
                    },
                    {
                        prop: 'bathrooms',
                        label: 'Bathrooms'
                    },
                    {
                        prop: 'storeys',
                        label: 'Storeys'
                    },
                    {
                        prop: 'garages',
                        label: 'Garages'
                    },
                ],
                loading: false,
                actionCol: {
                    label: 'Actions:',
                    props: {
                        align: 'left',
                    },
                    buttons: [
                        {
                            handler: row => {
                                this.$confirm('This will permanently delete ' + row.name + '\'s house.', 'Warning', {
                                    confirmButtonText: 'Delete',
                                    cancelButtonText: 'Cancel',
                                    type: 'warning'
                                }).then(() => {

                                    this.deleteRequest(row.id);

                                }).catch(() => {
                                    this.$message({
                                        type: 'info',
                                        message: 'Delete canceled'
                                    });
                                });
                            },
                            label: 'Delete',
                            props: {
                                size: 'mini',
                                type: 'danger',
                                icon: 'el-icon-delete'
                            }
                        }
                    ]
                },
                filters: {}
            }
        },
        methods: {
            mounted() {
                console.log('Example Component mounted')
            },
            async loadData(queryInfo) {

                this.loading = true;

                console.log(queryInfo);

                this.lastQueryInfo = queryInfo;

                let parameters = {};

                if (queryInfo !== null) {
                    parameters = {
                        per_page: queryInfo.pageSize,
                        page: queryInfo.page,
                        sort: queryInfo.sort.prop,
                        sort_type: queryInfo.sort.order,
                        name: queryInfo.filters.name,
                        price: queryInfo.filters.price,
                        bedrooms: queryInfo.filters.bedrooms,
                        bathrooms: queryInfo.filters.bathrooms,
                        storeys: queryInfo.filters.storeys,
                        garages: queryInfo.filters.garages
                    }
                }

                axios.get(this.apiUrl, {
                    params: parameters
                })
                    .then(response => {
                        this.response = response.data;
                        this.loading = false;
                    });

            },
            deleteRequest(id) {
                this.loading = true;
                axios.delete(this.apiUrl + '/' + id)
                    .then(response => {

                        if (response.data.status === 'ok') {
                            this.$message({
                                type: 'success',
                                message: 'Delete completed'
                            });
                        }

                        if (response.data.status === 'fail') {
                            this.$message({
                                type: 'error',
                                message: 'Delete failed'
                            });
                        }

                        this.loadData(this.lastQueryInfo);

                    }).catch(error => {
                    this.$message('Somethig wrong');
                    this.loading = false;
                });
            },
            filter(){
                this.lastQueryInfo.filters = this.filters;
                this.loadData(this.lastQueryInfo);
            },
            clear(){
                this.filters = {};
                this.filter();
            }
        }
    }
</script>

<style>
    .pagination-bar {
        margin-top: 15px;
    }

    .houses {
        margin-top: 100px;
    }

    .houses div[role="slider"]{
        width:107px !important;
    }

    @media (max-width: 991px) {
        .houses {
            margin-top: 30px;
        }
    }
</style>
